node-red-flow.json
[
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "Dashboard IoT - M2",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_sensors",
    "type": "ui_group",
    "name": "Sensores (Telemetria)",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_actuators",
    "type": "ui_group",
    "name": "Atuadores (Comandos)",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "flow_automa_m2",
    "name": "Recebe Telemetria ESP32",
    "topic": "automa/m2/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [["route_telemetry"]]
  },
  {
    "id": "route_telemetry",
    "type": "function",
    "z": "flow_automa_m2",
    "name": "Distribui Dados dos 4 Sensores",
    "func": "var msg1 = { payload: msg.payload.temp };\nvar msg2 = { payload: msg.payload.hum };\nvar msg3 = { payload: msg.payload.ldr };\nvar msg4 = { payload: msg.payload.pir === 1 ? 'DETECTADO' : 'SEGURO' };\nreturn [msg1, msg2, msg3, msg4];",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 100,
    "wires": [["gauge_temp"], ["gauge_hum"], ["chart_ldr"], ["text_pir"]]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "flow_automa_m2",
    "name": "Temperatura",
    "group": "ui_group_sensors",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperatura",
    "label": "ºC",
    "format": "{{value}}",
    "min": 0,
    "max": "50",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 670,
    "y": 40,
    "wires": []
  },
  {
    "id": "gauge_hum",
    "type": "ui_gauge",
    "z": "flow_automa_m2",
    "name": "Umidade",
    "group": "ui_group_sensors",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Umidade",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#0080ff", "#004080", "#0000ff"],
    "seg1": "",
    "seg2": "",
    "x": 660,
    "y": 80,
    "wires": []
  },
  {
    "id": "chart_ldr",
    "type": "ui_chart",
    "z": "flow_automa_m2",
    "name": "Luminosidade (LDR)",
    "group": "ui_group_sensors",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Luminosidade",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "4095",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 690,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "text_pir",
    "type": "ui_text",
    "z": "flow_automa_m2",
    "group": "ui_group_sensors",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Status PIR",
    "label": "Movimento na Sala:",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 670,
    "y": 160,
    "wires": []
  },
  {
    "id": "switch_led",
    "type": "ui_switch",
    "z": "flow_automa_m2",
    "name": "Controle Luz (LED)",
    "label": "Luz (LED)",
    "tooltip": "",
    "group": "ui_group_actuators",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "automa/m2/commands",
    "topicType": "str",
    "style": "",
    "onvalue": "{\"device\":\"led\",\"action\":\"on\"}",
    "onvalueType": "json",
    "onicon": "",
    "oncolor": "",
    "offvalue": "{\"device\":\"led\",\"action\":\"off\"}",
    "offvalueType": "json",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 130,
    "y": 280,
    "wires": [["mqtt_out"]]
  },
  {
    "id": "switch_relay",
    "type": "ui_switch",
    "z": "flow_automa_m2",
    "name": "Controle Ar (Relé)",
    "label": "Ar-Condicionado",
    "tooltip": "",
    "group": "ui_group_actuators",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "automa/m2/commands",
    "topicType": "str",
    "style": "",
    "onvalue": "{\"device\":\"relay\",\"action\":\"on\"}",
    "onvalueType": "json",
    "onicon": "",
    "oncolor": "",
    "offvalue": "{\"device\":\"relay\",\"action\":\"off\"}",
    "offvalueType": "json",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 130,
    "y": 320,
    "wires": [["mqtt_out"]]
  },
  {
    "id": "switch_buzzer",
    "type": "ui_switch",
    "z": "flow_automa_m2",
    "name": "Controle Alarme (Buzzer)",
    "label": "Alarme de Intrusão",
    "tooltip": "",
    "group": "ui_group_actuators",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "automa/m2/commands",
    "topicType": "str",
    "style": "",
    "onvalue": "{\"device\":\"buzzer\",\"action\":\"on\"}",
    "onvalueType": "json",
    "onicon": "",
    "oncolor": "",
    "offvalue": "{\"device\":\"buzzer\",\"action\":\"off\"}",
    "offvalueType": "json",
    "officon": "",
    "offcolor": "",
    "animate": false,
    "x": 150,
    "y": 360,
    "wires": [["mqtt_out"]]
  },
  {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "flow_automa_m2",
    "name": "Envia Comandos ESP32",
    "topic": "automa/m2/commands",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker",
    "x": 430,
    "y": 320,
    "wires": []
  }
]
