node-red-alerts.json
[
  {
    "id": "link_from_telemetry",
    "type": "mqtt in",
    "z": "flow_automa_m2",
    "name": "Recebe Telemetria ESP32 (Alertas)",
    "topic": "automa/m2/telemetry",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 500,
    "wires": [["rate_limit_sheets", "switch_alerts"]]
  },
  {
    "id": "rate_limit_sheets",
    "type": "delay",
    "z": "flow_automa_m2",
    "name": "A cada 2 horas",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "hour",
    "drop": true,
    "outputs": 1,
    "x": 420,
    "y": 460,
    "wires": [["http_out_sheets"]]
  },
  {
    "id": "http_out_sheets",
    "type": "http request",
    "z": "flow_automa_m2",
    "name": "Enviar para Google Sheets",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "COLE_AQUI_A_URL_DO_WEB_APP",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 660,
    "y": 460,
    "wires": [[]]
  },
  {
    "id": "switch_alerts",
    "type": "switch",
    "z": "flow_automa_m2",
    "name": "Verifica Regras de Alerta",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "hask",
        "v": "temp",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 430,
    "y": 540,
    "wires": [["check_conditions"]]
  },
  {
    "id": "check_conditions",
    "type": "switch",
    "z": "flow_automa_m2",
    "name": "PIR == 1 ou Temp > 35",
    "property": "payload.temp",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gte",
        "v": "35",
        "vt": "num"
      },
      {
        "t": "eq",
        "v": "1",
        "vt": "num",
        "property": "payload.pir"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 650,
    "y": 540,
    "wires": [["format_email_temp"], ["format_email_pir"]]
  },
  {
    "id": "format_email_temp",
    "type": "function",
    "z": "flow_automa_m2",
    "name": "Alerta Temperatura",
    "func": "msg.topic = 'ALERTA: Temperatura Alta na Sala!';\nmsg.payload = 'Atenção, a temperatura atingiu: ' + msg.payload.temp + 'ºC.';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 500,
    "wires": [["email_out"]]
  },
  {
    "id": "format_email_pir",
    "type": "function",
    "z": "flow_automa_m2",
    "name": "Alerta Movimento",
    "func": "msg.topic = 'ALERTA: Intrusão Detectada!';\nmsg.payload = 'O sensor PIR detectou movimento no ambiente.';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 890,
    "y": 580,
    "wires": [["email_out"]]
  },
  {
    "id": "email_out",
    "type": "e-mail",
    "z": "flow_automa_m2",
    "name": "Enviar E-mail SMTP",
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "tls": true,
    "to": "SEU_EMAIL_DESTINO@gmail.com",
    "ret": "empty",
    "x": 1130,
    "y": 540,
    "wires": []
  }
]
